h1 {
  text-align: center;
  font-family: "Amita", cursive;
  font-size: 40px;
  padding-top: 35px;
  padding-bottom: 20px;
  color: rgba(118, 84, 173, 0.9);
}
.weatherApp {
  background: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
  padding: 40px;
  border-radius: 25px;
}
.crystalBall {
  height: 285px;
  width: 250px;
  border-radius: 50%;
  background: radial-gradient(
    circle at 0.3% 1.3%,
    rgb(235, 217, 221) 0%,
    rgb(216, 174, 211) 45.1%,
    rgb(145, 130, 196) 100.2%
  );
  text-align: center;
}
.sparkle {
  display: block;
  height: 70px;
  width: 70px;
}
.ballSpace {
  padding-top: 0px;
}
.fa-circle {
  font-size: 90px;
  color: rgba(255, 220, 100, 1);
  padding-bottom: 15px;
}
.line1 {
  width: 100px;
  color: rgba(152, 128, 191, 1);
  margin: 5px auto;
}

#mainTemp-number {
  color: rgb(250, 231, 144);
  font-family: "Sawarabi Mincho", sans-serif;
  font-size: 25px;
  line-height: 32px;
}
.tempLine,
#mainTemp-Farenheit,
#mainTemp-Celcius {
  color: rgb(250, 231, 144);
  font-family: "Sawarabi Mincho", sans-serif;
  font-size: 14px;
  text-decoration: none;
  vertical-align: top;
  text-align: left;
  letter-spacing: -1px;
}

.mainWeatherStatus {
  color: rgba(118, 84, 173, 0.9);
  font-family: "Sawarabi Mincho", sans-serif;
  font-size: 17px;
  text-transform: capitalize;
}
#city-search {
  width: 190px;
  border-radius: 20px;
  background-color: rgba(237, 201, 227, 0.7);
  border-color: rgb(237, 201, 227);
}

#buttonGPS {
  color: purple;
  background-color: rgba(255, 220, 100, 1);
  font-size: 14px;
  border-radius: 25px;
  width: 78px;
  display: block;
  align-items: left;
}

.todayDay,
.time,
.mainDate,
.location,
.humidity,
.wind {
  font-family: "Sawarabi Mincho", sans-serif;
  line-height: 50px;
  color: rgba(118, 84, 173, 0.9);
  text-transform: capitalize;
}
.time {
  padding-top: 10px;
  font-size: 18px;
}
.location,
.mainDate {
  font-size: 20px;
}
.humidity,
.wind {
  font-size: 16px;
}
#line2 {
  border: 0;
  height: 2px;
  background-image: linear-gradient(
    to right,
    rgba(243, 232, 234, 1),
    rgb(101, 70, 150),
    rgba(243, 232, 234, 1)
  );
}
