h1 {
  text-align: center;
  font-family: "Amita", cursive;
  font-size: 40px;
  padding-top: 35px;
  padding-bottom: 20px;
  color: rgba(118, 84, 173, 0.9);
}
.weatherApp {
  background: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
  padding: 40px;
  border-radius: 25px;
}
.crystalBall {
  height: 285px;
  width: 250px;
  border-radius: 50%;
  background: radial-gradient(
    circle at 0.3% 1.3%,
    rgb(235, 217, 221) 0%,
    rgb(216, 174, 211) 45.1%,
    rgb(145, 130, 196) 100.2%
  );
  text-align: center;
}
.sparkle {
  display: block;
  height: 70px;
  width: 70px;
}
.ballSpace {
  padding-top: 0px;
}
.mainWeatherIcon {
  font-size: 100px;
  color: rgba(255, 220, 100, 1);
  padding-bottom: 10px;
}
.line1 {
  width: 100px;
  color: rgba(152, 128, 191, 1);
  margin: 5px auto;
}

#mainTemp-number {
  color: rgb(250, 231, 144);
  font-family: "Sawarabi Mincho", sans-serif;
  font-size: 25px;
  line-height: 32px;
}
.tempLine,
#mainTemp-Farenheit,
#mainTemp-Celcius {
  color: rgb(250, 231, 144);
  font-family: "Sawarabi Mincho", sans-serif;
  font-size: 14px;
  vertical-align: top;
  text-align: left;
  letter-spacing: -1px;
}

.active {
  text-decoration: none;
}
.active:hover {
  cursor: default;
}

.mainWeatherStatus {
  color: rgba(118, 84, 173, 0.9);
  font-family: "Sawarabi Mincho", sans-serif;
  font-size: 17px;
  text-transform: capitalize;
}
#city-search {
  width: 190px;
  border-radius: 20px;
  background-color: rgba(237, 201, 227, 0.7);
  border-color: rgb(237, 201, 227);
}

#buttonGPS {
  color: purple;
  background-color: rgba(255, 220, 100, 1);
  font-size: 14px;
  border-radius: 25px;
  width: 78px;
  display: block;
  align-items: left;
}

.todayDay,
.time,
.mainDate,
.location,
.humidity,
.wind {
  font-family: "Sawarabi Mincho", sans-serif;
  line-height: 50px;
  color: rgb(186, 126, 178);
  text-transform: capitalize;
}
.time {
  padding-top: 10px;
  font-size: 18px;
}
.location,
.mainDate {
  font-size: 20px;
}
.location {
  color: rgba(118, 84, 173, 1);
}
.humidity,
.wind {
  font-size: 18px;
  font-family: "Amita", cursive;
}

.currentHumidity,
.currentWind {
}
#line2 {
  border: 0;
  height: 2px;
  background-image: linear-gradient(
    to right,
    rgba(243, 232, 234, 1),
    rgb(101, 70, 150),
    rgba(243, 232, 234, 1)
  );
}
.codeAuthor,
.codeLink,
.linkedIn {
  padding-top: 30px;
  display: block;
  text-align: center;
  font-family: "Philosopher", sans-serif;
  color: rgb(186, 126, 178);
  display: inline-block;
}
.codeLink:hover {
  color: rgb(101, 70, 150);
}
.linkedIn {
  text-decoration: none;
}
.linkedIn:hover {
  color: rgba(118, 84, 173, 0.9);
}

.weatherTextSpace1 {
  position: relative;
  left: 18px;
  top: 20px;
  border-left: 4px solid;
  border-radius: 10px;
  height: 180px;
  display: block;
  margin: 0 auto;
  border-color: rgba(255, 200, 80, 0.6);
}
.subTitle {
  text-align: center;
  font-family: "Amita", cursive;
  font-size: 22px;
  padding-top: 10px;
  color: rgba(118, 84, 173, 1);
}
.subTitleInstruction {
  padding-bottom: 20px;
  text-align: center;
  font-size: 14px;
  color: rgb(186, 126, 178);
}
.forecastCont {
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: "Sawarabi Mincho", sans-serif;
}
.card {
  height: 211px;
  border: 1px solid rgba(118, 84, 173, 0.9);
  background: rgb(251, 183, 63);
  background: radial-gradient(
    circle,
    rgb(253, 220, 111) 0%,
    rgb(244, 186, 186) 10%,
    rgb(215, 188, 232) 100%
  );
  border-radius: 20px;
}

.card-body {
  text-align: center;
  padding-top: 18px;
  font-family: "Sawarabi Mincho", sans-serif;
  background: white;
  opacity: 0;
  transition: all 300ms ease-in-out;
}
.smallIcon {
  font-size: 15px;
}
.weekDay {
  color: rgba(118, 84, 173, 1);
}
.subTemperature {
  color: rgb(235, 175, 75);
  font-size: 17px;
}
.subWeatherStatus {
  color: rgb(186, 126, 178);
  font-size: 15px;
}
.card:hover .card-body {
  opacity: 1;
}
